@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@theme {
  --color-mainFont: var(--mainFont);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;




  --mainFont: hsl(0, 0%, 0%);
}

.dark {
  --mainFont: hsl(0, 0%, 100%);
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  
}
